# Environment
*.env*
# Uploads
assets/
uploads/
# Plugins
vendor/
plugin/
plugins/
node_modules/
modules/
# Builds
dist/
build/
bin/
# OS
.DS_Store
Thumbs.db
# Editors
.vscode/
.idea/
*.sublime-workspace
# Logs and Temps
*.log
*.tmp
*.temp