Options -Multiviews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ home.php?uri=/$1 [L,QSA]
DirectoryIndex home.php
#Error Handler
ErrorDocument 404 /_error.php?e=404
ErrorDocument 403 /_error.php?e=403
ErrorDocument 401 /_error.php?e=401
ErrorDocument 400 /_error.php?e=400
ErrorDocument 500 /_error.php?e=500
ErrorDocument 502 /_error.php?e=502
ErrorDocument 503 /_error.php?e=503
ErrorDocument 504 /_error.php?e=504
#Block proxies almost of all kind. - tested HMA High +KA and did not passed.
RewriteCond %{HTTP:HTTP_VIA}      !^$ [OR]
RewriteCond %{HTTP:HTTP_X_FORWARDED_FOR}      !^$ [OR]
RewriteCond %{HTTP:HTTP_FORWARDED_FOR}      !^$ [OR]
RewriteCond %{HTTP:HTTP_X_FORWARDED}      !^$ [OR]
RewriteCond %{HTTP:HTTP_FORWARDED}      !^$ [OR]
RewriteCond %{HTTP:HTTP_CLIENT_IP}      !^$ [OR]
RewriteCond %{HTTP:HTTP_FORWARDED_FOR_IP}      !^$ [OR]
RewriteCond %{HTTP:VIA}      !^$ [OR]
RewriteCond %{HTTP:X_FORWARDED_FOR}      !^$ [OR]
RewriteCond %{HTTP:FORWARDED_FOR}      !^$ [OR]
RewriteCond %{HTTP:X_FORWARDED}      !^$ [OR]
RewriteCond %{HTTP:FORWARDED}      !^$ [OR]
RewriteCond %{HTTP:CLIENT_IP}      !^$ [OR]
RewriteCond %{HTTP:FORWARDED_FOR_IP}      !^$ [OR]
RewriteCond %{HTTP:HTTP_PROXY_CONNECTION}      !^$
RewriteRule ^(.*)$ - [F]
RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
RewriteRule .* - [F]
#Forbid
<FilesMatch "^(.*\.)?(git|gitignore|rb|inc|ht|env|md|json|lock|htaccess|ini|log|pem|sql|txt)$">
    Require all denied
</FilesMatch>