:root {
	--sidebar-width: 5rem;
	--sidebar-height: 4.5rem;
	--sidebar-expanded-width: 20rem;
	--primary-color: #600;
	--secondary-color: #123;
	--gray-color: #666;
	--dark-gray-color: #333;
	--light-color: #eee;
	--light-transparent: #fff7;
	--dark-color: #111;
	--dark-transparent: #0007;
}
/* === SELECTION === */
::selection {
	background-color: #018;
	color: #fff;
}
::-webkit-selection {
	background-color: #018;
	color: #fff;
}
::-moz-selection {
	background-color: #018;
	color: #fff;
}
/* === PLACEHOLDER === */
::-ms-input-placeholder {
	color: #444;
	font-weight: 300;
}
::-webkit-input-placeholder {
	color: #444;
	font-weight: 300;
}
::-moz-placeholder {
	color: #444;
	font-weight: 300;
}
/* === SCROLLBAR === */
::-webkit-scrollbar {
	background: #fff;
	border-radius: 12px;
	width: 12px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #999;
	border-radius: 12px;
}
::-webkit-scrollbar-thumb {
	background: #04c;
	border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
	background: #06e;
}
/* === GENERAL BODY === */
@font-face {
	font-family: "Bahnschrift";
	src: url("./css/webfonts/bahnschrift.ttf") format("truetype");
}
* {
	min-width: 0;
	/* scroll */
	scrollbar-width: 12px;
	scrollbar-color: #04c #fff;
	/* anim */
	-webkit-transition: all 0.3s ease !important;
	-o-transition: all 0.3s ease !important;
	-ms-transition: all 0.3s ease !important;
	-moz-transition: all 0.3s ease !important;
	transition: all 0.3s ease !important;
}
/* @media (prefers-reduced-motion: reduce) {
	* {
		-webkit-transition: all 0s ease !important;
		-o-transition: all 0s ease !important;
		-ms-transition: all 0s ease !important;
		-moz-transition: all 0s ease !important;
		transition: all 0s ease !important;
	}
} */
html,
body {
	position: relative;
	font-family: "Bahnschrift";
	background: #fff0;
	font-size: 16px;
	letter-spacing: -0.1px;
	line-height: 1.5;
	font-weight: 400;
	color: var(--dark-color);
	text-overflow: ellipsis !important;
	white-space: wrap !important;
}
/* === GENERAL ELEMENTS === */
ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
select {
	display: block;
}
figure {
	margin: 0;
}
iframe {
	border: 0;
}
img {
	max-width: 100%;
}
i,
i.fas,
span.fas {
	padding: 0.125rem 0.5rem;
}
i.input-icon,
i.select-icon {
	position: absolute;
	top: 25%;
	z-index: 9;
}
i.input-icon {
	left: 1.5rem;
}
i.select-icon {
	right: 1.5rem;
}
a {
	color: var(--primary-color);
	text-decoration: none;
}
a:hover {
	text-decoration: underline !important;
	color: #04c !important;
	outline: none !important;
	text-shadow: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin-bottom: 0;
	margin-top: 0;
	font-weight: 600;
}
h1,
.h1 {
	font-size: 2.25rem;
}
h2,
.h2 {
	font-size: 1.875rem;
}
h3,
.h3 {
	font-size: 1.5rem;
}
h4,
.h4 {
	font-size: 1.125rem;
}
h5,
.h5 {
	font-size: 1rem;
}
h6,
.h6 {
	font-size: 0.875rem;
}
td,
th {
	border-radius: 0px;
}
/* === MISC === */
.tooltip {
	-webkit-transition: all 0s !important;
	-o-transition: all 0s !important;
	-ms-transition: all 0s !important;
	-moz-transition: all 0s !important;
	transition: all 0s !important;
}
/* === BACKGROUND COLORS AND TEXTS === */
.bg-primary {
	background: var(--primary-color) !important;
}
.bg-secondary {
	background: var(--secondary-color) !important;
}
.bg-dark {
	background: #000 !important;
}
.bg-white {
	background: #fff !important;
}
.bg-dark {
	background: var(--dark-color) !important;
}
.bg-light {
	background: var(--light-color) !important;
}
.bg-light-transparent {
	background: var(--light-transparent);
}
.bg-dark-transparent {
	background: var(--dark-transparent);
}
.text-dark-shadow {
	text-shadow: 0px 0px 5px var(--dark-transparent), 2px 0px 5px var(--dark-transparent), -2px 0px 5px var(--dark-transparent), 0px 2px 5px var(--dark-transparent), 0px -2px 5px var(--dark-transparent);
}
.text-light-shadow {
	text-shadow: 0px 0px 5px var(--light-transparent), 2px 0px 5px var(--light-transparent), -2px 0px 5px var(--light-transparent), 0px 2px 5px var(--light-transparent), 0px -2px 5px var(--light-transparent);
}
.text-white * {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}
.text-dark * {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}
.text-primary,
.text-primary * {
	color: var(--primary-color) !important;
}
.text-secondary,
.text-secondary * {
	color: var(--secondary-color) !important;
}
.light-links a:hover {
	color: #fff !important;
}
.dark-links a:hover {
	color: #000 !important;
}
.hidden {
	display: none;
	visibility: hidden;
	opacity: 0;
}
/* === BUTTONS === */
.btn {
	padding: 4px 8px;
}
.btn.btn-primary,
.btn.btn-secondary:hover {
	border: 1px solid var(--light-color) !important;
	background: var(--primary-color) !important;
}
.btn.btn-secondary,
.btn.btn-primary:hover {
	border: 1px solid var(--primary-color) !important;
	background: var(--light-color) !important;
}
.btn.btn-tertiary,
.btn.btn-quarternary:hover {
	border: 1px solid var(--light-color) !important;
	background: var(--secondary-color) !important;
}
.btn.btn-quarternary,
.btn.btn-tertiary:hover {
	border: 1px solid var(--secondary-color) !important;
	background: var(--light-color) !important;
}
.btn.btn-primary,
.btn.btn-secondary:hover,
.btn.btn-tertiary,
.btn.btn-quarternary:hover,
.btn.btn-primary *,
.btn.btn-secondary:hover *,
.btn.btn-tertiary *,
.btn.btn-quarternary:hover * {
	color: var(--light-color) !important;
}
.btn.btn-secondary,
.btn.btn-primary:hover,
.btn.btn-secondary *,
.btn.btn-primary:hover * {
	color: var(--primary-color) !important;
}
.btn.btn-quarternary,
.btn.btn-tertiary:hover,
.btn.btn-quarternary *,
.btn.btn-tertiary:hover * {
	color: var(--secondary-color) !important;
}
/* === INPUTS === */
:disabled,
:disabled * {
	-webkit-filter: grayscale(50%) !important;
	-moz-filter: grayscale(50%) !important;
	-ms-filter: grayscale(50%) !important;
	-o-filter: grayscale(50%) !important;
	filter: grayscale(50%) !important;
	cursor: not-allowed !important;
	pointer-events: none !important;
}
.input-has-icon {
	padding-left: 48px;
}
.select-has-icon {
	padding-left: 48px;
	padding-right: 48px;
}
.select2-container .select2-selection--single {
	height: 36px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
	line-height: 36px;
}
.select2-container .select2-selection--single .select2-selection__arrow {
	height: 36px;
}
.spinner-border,
.spinner-grow {
	position: absolute;
	height: 24px;
	width: 24px;
	margin: 0 8px;
}
/* === NAVBAR === */
.dropdown:hover .dropdown-menu,
.dropup:hover .dropdown-menu {
	display: block;
	opacity: 1;
}
.dropup .dropdown-menu {
	top: auto;
	bottom: 100%;
	position: fixed !important;
	max-width: 66%;
	margin-bottom: calc(-1em - 2px);
}
.dropdown-menu-end {
	right: 0;
	left: auto;
}
.dropdown-menu {
	border-radius: 8px;
	border: none;
	box-shadow: none;
	overflow-x: hidden;
	overflow-y: auto;
}
@media screen and (min-width: 992px) {
	.dropdown-menu {
		max-height: 50vh;
		max-width: 500px;
	}
}
.nav-item {
	padding: 4px !important;
}
.nav-link {
	padding: 0 8px !important;
}
@media (max-width: 991.98px) {
	.navbar-nav {
		max-height: 50vh;
		overflow-x: hidden;
		overflow-y: auto;
		margin-top: 16px !important;
	}
	.nav-item {
		padding: 16px 4px !important;
		width: 100%;
	}
	.dropdown-menu {
		position: relative !important;
		width: 100%;
		margin-left: 0;
	}
}
/* === BACKGROUNDS AND IMAGES === */
.has-background-cover {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.has-background-contain {
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.has-overlay {
	position: relative;
	z-index: 0;
}
.overlay,
.overlay-primary,
.overlay-secondary {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -9;
	opacity: 0.5;
}
.overlay {
	background: -moz-linear-gradient(90deg, var(--secondary-color) 0%, var(--primary-color) 100%);
	background: -webkit-linear-gradient(90deg, var(--secondary-color) 0%, var(--primary-color) 100%);
	background: -o-linear-gradient(90deg, var(--secondary-color) 0%, var(--primary-color) 100%);
	background: -ms-linear-gradient(90deg, var(--secondary-color) 0%, var(--primary-color) 100%);
	background: linear-gradient(90deg, var(--secondary-color) 0%, var(--primary-color) 100%);
}
.overlay-primary {
	background: var(--primary-color);
}
.overlay-secondary {
	background: var(--secondary-color);
}
/* === FX === */
.blurred {
	-webkit-filter: blur(0.5rem);
	filter: blur(0.5rem);
}
.blurred-subtle {
	-webkit-filter: blur(0.25rem);
	filter: blur(0.25rem);
}
.bg-blurred {
	-webkit-backdrop-filter: blur(0.5rem);
	backdrop-filter: blur(0.5rem);
}
.bg-blurred-subtle {
	-webkit-backdrop-filter: blur(0.25rem);
	backdrop-filter: blur(0.25rem);
}
/* === ICONS === */
.fab-container {
	position: fixed;
	bottom: 16px;
	right: 16px;
	z-index: 999;
}
.fab-container a {
	margin: 2px 0;
	padding: 4px;
}
.fab-container a i {
	height: 32px;
	width: 56px;
	font-size: 32px;
}
/* === CAROUSELS === */
.tns-outer {
	position: relative;
}
.tns-nav {
	position: absolute;
	left: 15%;
	right: 15%;
	bottom: 5%;
	width: auto;
	text-align: center;
	z-index: 101;
}
.tns-nav button {
	width: 16px;
	height: 16px;
	margin: 4px;
	border: 2px solid var(--light-color);
	border-radius: 50%;
	background: var(--secondary-color);
}
.tns-nav button.tns-nav-active {
	background: var(--primary-color);
}
.tns-controls {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	left: 10%;
	right: 10%;
	bottom: 5%;
	width: auto;
	text-align: center;
	z-index: 99;
}
.tns-controls button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 32px;
	width: 32px;
	height: 32px;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
}
.tns-controls button * {
	color: var(--secondary-color) !important;
}
.tns-controls button:hover * {
	color: var(--primary-color) !important;
}
.tns-controls button i:before {
	text-shadow: 3px 0 0 #fff, -3px 0 0 #fff, 0 3px 0 #fff, 0 -3px 0 #fff, 3px 3px 0 #fff, -3px 3px 0 #fff, 3px -3px 0 #fff, -3px -3px 0 #fff;
}
/* === SPA CONTENT === */
#spa-content {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #0000;
	z-index: 9;
}
/* === LOADER === */
#spa-loader {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: var(--dark-color);
	color: var(--light-color);
	z-index: 9999;
}
#spa-loader .load-text {
	position: absolute;
	background: #0000;
	color: #fff;
	bottom: 10%;
	left: 0;
	right: 0;
	text-align: center;
	margin: 0 auto;
}
#spa-loader .load-circle-back,
#spa-loader .load-circle-fore {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
#spa-loader .load-circle-back:after,
#spa-loader .load-circle-fore:after {
	content: "";
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#spa-loader .load-circle-back {
	height: 192px;
	width: 192px;
}
#spa-loader .load-circle-fore {
	height: 120px;
	width: 120px;
}
#spa-loader .load-circle-back:after {
	height: 192px;
	width: 192px;
	animation: rotate 1.5s infinite;
	background-image: url("./img/icon-back.png");
}
#spa-loader .load-circle-fore:after {
	height: 120px;
	width: 120px;
	animation: rotate-reverse 1.5s infinite;
	background-image: url("./img/icon-fore.png");
}
@keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
	100% {
		-webkit-transform: rotate(720deg);
		-moz-transform: rotate(720deg);
		transform: rotate(720deg);
	}
}
@keyframes rotate-reverse {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
	100% {
		-webkit-transform: rotate(-720deg);
		-moz-transform: rotate(-720deg);
		transform: rotate(-720deg);
	}
}
/* === PARTICLES === */
#particles {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 0;
}
/* === BGV === */
.video-container {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -999;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	object-fit: cover;
	filter: blur(0.25rem);
}
.video-foreground {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(32, 0, 0, 0.25) 100%);
}
/* === ACCORDIONS === */
.bywr-accordion .accordion-item {
	background: #0000;
	border: 0;
}
.bywr-accordion .accordion-button {
	background: #0000;
	border: 1px solid var(--light-transparent);
}
.bywr-accordion .accordion-button:not(.collapsed) {
	background: #fff3;
}
.bywr-accordion .accordion-button:after {
	filter: invert(1);
}
.bywr-accordion .sidebar-option {
	display: flex;
	flex-grow: 1;
	align-items: center;
	padding: 0.75rem;
	border: 1px solid var(--light-transparent);
}
.p-2o5 {
	padding: 0.75rem;
}
/* === SIDEBAR === */
.sidebar {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	width: var(--sidebar-width);
	margin: 0;
	z-index: 99;
	overflow: hidden;
}
.sidebar.sidebar-expanded {
	width: var(--sidebar-expanded-width);
	overflow-y: auto;
}
.sidebar:not(.sidebar-expanded) .sidebar-content {
	opacity: 0;
	visibility: hidden;
}
.sidebar-toggle {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: var(--sidebar-height);
	width: var(--sidebar-width);
	background: #000;
	top: 1px;
	right: 0;
	padding: 0.5rem;
	border: 1px solid var(--light-transparent);
	outline: 1px solid var(--light-transparent);
}
.sidebar-hidden {
	position: absolute;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: var(--sidebar-width);
	top: var(--sidebar-height);
	bottom: 0;
	right: 0;
	padding: 0.5rem;
	gap: 1rem;
	opacity: 0;
}
.sidebar:not(.sidebar-expanded) .sidebar-hidden {
	display: flex;
	opacity: 1;
}
.app-container {
	position: relative;
	min-height: 100vh;
	width: 100%;
	padding: 0.75rem 0.5rem 0.75rem calc(0.5rem + var(--sidebar-width));
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 9;
}
.app-container.sidebar-expanded {
	padding-left: calc(0.5rem + var(--sidebar-expanded-width));
}
@media (max-width: 768px) {
	.sidebar.sidebar-expanded {
		width: 100vw;
	}
	.app-container {
		padding: 0.5rem 0.5rem 0.5rem calc(0.5rem + var(--sidebar-width));
	}
	.app-container.sidebar-expanded {
		padding-left: 0.5rem;
	}
	.sidebar-hidden {
		pointer-events: none;
	}
}
@media (max-width: 576px) {
	.sidebar {
		height: var(--sidebar-height);
		width: 100vw;
	}
	.sidebar.sidebar-expanded {
		height: 100vh;
	}
	.sidebar:not(.sidebar-expanded) .sidebar-content {
		opacity: 1;
		visibility: visible;
	}
	.app-container {
		padding: calc(0.5rem + var(--sidebar-width)) 0.5rem 0.5rem 0.5rem;
	}
	.app-container.sidebar-expanded {
		padding-top: 0.5rem;
	}
	.sidebar:not(.sidebar-expanded) .sidebar-hidden {
		display: none;
	}
}
/* == APP CONTAINER CONTENT === */
.app-content {
	position: relative;
	background: linear-gradient(to bottom, #fefefe 0%, #fff 100%);
	border: 1px solid #ccc;
	box-shadow: 0 2px #fff inset;
}
.app-content .container-fluid {
	padding: 32px 64px;
}
@media (max-width: 991.98px) {
	.app-content .container-fluid {
		padding: 16px 32px;
	}
}
.app-content,
.app-content * {
	text-shadow: 0 1px #fff;
}
.app-content:before,
.app-content:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -99;
	border: 1px solid #ccc;
}
.app-content:before {
	transform: rotate(-0.75deg);
	background: linear-gradient(to top, #ddd 0%, var(--light-color) 100%);
}
.app-content:after {
	transform: rotate(1.25deg);
	background: linear-gradient(to bottom, #fff 0%, var(--light-color) 100%);
}
.app-title {
	text-align: center;
}
.app-title:before,
.app-title:after {
	content: "";
	position: absolute;
	height: 1px;
	width: 25%;
}
.app-title:before {
	left: 5%;
	background: linear-gradient(to left, #ddd 0%, #fff 100%);
}
.app-title:after {
	right: 5%;
	background: linear-gradient(to right, #ddd 0%, #fff 100%);
}
/* === LANG BUTTONS === */
.a-lang {
	background: var(--dark-color);
	color: var(--light-color);
	text-align: center;
	border: 1px solid var(--light-color);
	margin: 0.25rem;
	padding: 0.5rem;
	white-space: nowrap;
}
.a-lang img {
	width: 16px;
	height: 12px;
	margin-bottom: 4px;
}
