:root {
	--sidebar-width: 5rem;
	--sidebar-height: 4.5rem;
	--sidebar-expanded-width: 20rem;
	--primary-color: #600;
	--secondary-color: #123;
	--gray-color: #666;
	--dark-gray-color: #333;
	--light-color: #eee;
	--light-transparent: #fff7;
	--light-clear: #fff3;
	--light-opaque: #fffb;
	--dark-color: #111;
	--dark-transparent: #0007;
	--dark-clear: #0003;
	--dark-opaque: #000b;
}
/* === SELECTION === */
::selection {
	background-color: #018;
	color: #fff;
}
::-webkit-selection {
	background-color: #018;
	color: #fff;
}
::-moz-selection {
	background-color: #018;
	color: #fff;
}
/* === PLACEHOLDER === */
::-ms-input-placeholder {
	color: #444;
	font-weight: 300;
}
::-webkit-input-placeholder {
	color: #444;
	font-weight: 300;
}
::-moz-placeholder {
	color: #444;
	font-weight: 300;
}
/* === SCROLLBAR === */
::-webkit-scrollbar {
	background: #fff;
	border-radius: 8px;
	width: 8px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #999;
	border-radius: 12px;
}
::-webkit-scrollbar-thumb {
	background: #04c;
	border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
	background: #06e;
}
/* === GENERAL BODY === */
@font-face {
	font-family: "Bahnschrift";
	src: url("./css/webfonts/bahnschrift.ttf") format("truetype");
}
@font-face {
	font-family: "Open Dyslexic";
	src: url("./css/webfonts/open_dyslexic.woff2") format("woff2");
}
* {
	min-width: 0;
	/* scroll */
	scrollbar-width: 12px;
	scrollbar-color: #04c #fff;
	/* anim */
	-webkit-transition: opacity 0.3s ease, height 0.3s ease, width 0.3s ease, transform 0.3s ease, margin 0.3s ease, padding 0.3s ease, background-color 0.3s ease, filter 0.3s ease !important;
	-o-transition: opacity 0.3s ease, height 0.3s ease, width 0.3s ease, transform 0.3s ease, margin 0.3s ease, padding 0.3s ease, background-color 0.3s ease, filter 0.3s ease !important;
	-ms-transition: opacity 0.3s ease, height 0.3s ease, width 0.3s ease, transform 0.3s ease, margin 0.3s ease, padding 0.3s ease, background-color 0.3s ease, filter 0.3s ease !important;
	-moz-transition: opacity 0.3s ease, height 0.3s ease, width 0.3s ease, transform 0.3s ease, margin 0.3s ease, padding 0.3s ease, background-color 0.3s ease, filter 0.3s ease !important;
	transition: opacity 0.3s ease, height 0.3s ease, width 0.3s ease, transform 0.3s ease, margin 0.3s ease, padding 0.3s ease, background-color 0.3s ease, filter 0.3s ease !important;
}
html,
body {
	position: relative;
	font-family: "Bahnschrift";
	background: #fff0;
	font-size: 16px;
	letter-spacing: -0.1px;
	line-height: 1.5;
	font-weight: 400;
	color: var(--dark-color);
	text-overflow: ellipsis !important;
	white-space: wrap !important;
}
/* === GENERAL ELEMENTS === */
ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
select {
	display: block;
}
figure {
	margin: 0;
}
iframe {
	border: 0;
}
img {
	max-width: 100%;
}
i,
i.fas,
span.fas {
	padding: 0.125rem 0.5rem;
}
i.input-icon,
i.select-icon {
	position: absolute;
	top: 25%;
	z-index: 9;
}
i.input-icon {
	left: 1.5rem;
}
i.select-icon {
	right: 1.5rem;
}
a {
	color: var(--primary-color);
	text-decoration: none;
}
a:hover {
	text-decoration: underline !important;
	color: #69f !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin-bottom: 0;
	margin-top: 0;
	font-weight: 600;
}
h1,
.h1 {
	font-size: 2.25rem;
}
h2,
.h2 {
	font-size: 1.875rem;
}
h3,
.h3 {
	font-size: 1.5rem;
}
h4,
.h4 {
	font-size: 1.125rem;
}
h5,
.h5 {
	font-size: 1rem;
}
h6,
.h6 {
	font-size: 0.875rem;
}
td,
th {
	border-radius: 0px;
}
/* === MISC === */
.tooltip {
	-webkit-transition: all 0s !important;
	-o-transition: all 0s !important;
	-ms-transition: all 0s !important;
	-moz-transition: all 0s !important;
	transition: all 0s !important;
}
/* === BACKGROUND COLORS AND TEXTS === */
.bg-primary {
	background: var(--primary-color) !important;
}
.bg-secondary {
	background: var(--secondary-color) !important;
}
.bg-black {
	background: #000 !important;
}
.bg-white {
	background: #fff !important;
}
.bg-dark {
	background: var(--dark-color) !important;
}
.bg-light {
	background: var(--light-color) !important;
}
.bg-light-transparent {
	background: var(--light-transparent);
}
.bg-dark-transparent {
	background: var(--dark-transparent);
}
.bg-light-clear {
	background: var(--light-clear);
}
.bg-dark-clear {
	background: var(--dark-clear);
}
.bg-light-opaque {
	background: var(--light-opaque);
}
.bg-dark-opaque {
	background: var(--dark-opaque);
}
.text-dark-shadow {
	text-shadow: 0px 0px 5px var(--dark-transparent), 2px 0px 5px var(--dark-transparent), -2px 0px 5px var(--dark-transparent), 0px 2px 5px var(--dark-transparent), 0px -2px 5px var(--dark-transparent);
}
.text-light-shadow {
	text-shadow: 0px 0px 5px var(--light-transparent), 2px 0px 5px var(--light-transparent), -2px 0px 5px var(--light-transparent), 0px 2px 5px var(--light-transparent), 0px -2px 5px var(--light-transparent);
}
.text-white * {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}
.text-dark * {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}
.text-primary,
.text-primary * {
	color: var(--primary-color) !important;
}
.text-secondary,
.text-secondary * {
	color: var(--secondary-color) !important;
}
.light-links a:hover {
	color: #fff !important;
}
.dark-links a:hover {
	color: #000 !important;
}
.hidden {
	display: none;
	visibility: hidden;
	opacity: 0;
}
/* === BUTTONS === */
.btn {
	padding: 0.25rem 0.5rem;
}
.btn.btn-primary,
.btn.btn-secondary:hover {
	border: 1px solid var(--light-color) !important;
	background: var(--primary-color) !important;
}
.btn.btn-secondary,
.btn.btn-primary:hover {
	border: 1px solid var(--primary-color) !important;
	background: var(--light-color) !important;
}
.btn.btn-tertiary,
.btn.btn-quarternary:hover {
	border: 1px solid var(--light-color) !important;
	background: var(--secondary-color) !important;
}
.btn.btn-quarternary,
.btn.btn-tertiary:hover {
	border: 1px solid var(--secondary-color) !important;
	background: var(--light-color) !important;
}
.btn.btn-primary,
.btn.btn-secondary:hover,
.btn.btn-tertiary,
.btn.btn-quarternary:hover,
.btn.btn-primary *,
.btn.btn-secondary:hover *,
.btn.btn-tertiary *,
.btn.btn-quarternary:hover * {
	color: var(--light-color) !important;
}
.btn.btn-secondary,
.btn.btn-primary:hover,
.btn.btn-secondary *,
.btn.btn-primary:hover * {
	color: var(--primary-color) !important;
}
.btn.btn-quarternary,
.btn.btn-tertiary:hover,
.btn.btn-quarternary *,
.btn.btn-tertiary:hover * {
	color: var(--secondary-color) !important;
}
.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-secondary,
.btn.btn-secondary:hover,
.btn.btn-tertiary,
.btn.btn-tertiary:hover,
.btn.btn-quarternary,
.btn.btn-quarternary:hover {
    text-shadow: 0 0 white !important;
}
/* === INPUTS === */
:disabled,
:disabled * {
	-webkit-filter: grayscale(50%) !important;
	-moz-filter: grayscale(50%) !important;
	-ms-filter: grayscale(50%) !important;
	-o-filter: grayscale(50%) !important;
	filter: grayscale(50%) !important;
	cursor: not-allowed !important;
	pointer-events: none !important;
}
.input-has-icon {
	padding-left: 3rem !important;
}
.select-has-icon {
	padding-left: 3rem !important;
	padding-right: 3rem !important;
}
.select2-container .select2-selection--single {
	height: 2rem !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
	line-height: 2rem !important;
}
.select2-container .select2-selection--single .select2-selection__arrow {
	height: 2rem !important;
}
.spinner-border,
.spinner-grow {
	position: absolute;
	height: 1.5rem !important;
	width: 1.5rem !important;
	margin: 0 0.5rem !important;
}
/* === NAVBAR === */
.dropdown:hover .dropdown-menu,
.dropup:hover .dropdown-menu {
	display: block;
	opacity: 1;
}
.dropup .dropdown-menu {
	top: auto;
	bottom: 100%;
	position: fixed !important;
	max-width: 66%;
	margin-bottom: -1rem;
}
.dropdown-menu-end {
	right: 0;
	left: auto;
}
.dropdown-menu {
	border-radius: 0.5rem;
	border: none;
	box-shadow: none;
	overflow-x: hidden;
	overflow-y: auto;
}
@media screen and (min-width: 992px) {
	.dropdown-menu {
		max-height: 50vh;
		max-width: 500px;
	}
}
.nav-item {
	padding: 0.25rem !important;
}
.nav-link {
	padding: 0 0.5rem !important;
}
@media (max-width: 991.98px) {
	.navbar-nav {
		max-height: 50vh;
		overflow-x: hidden;
		overflow-y: auto;
		margin-top: 1rem !important;
	}
	.nav-item {
		padding: 1rem 0.25rem !important;
		width: 100%;
	}
	.dropdown-menu {
		position: relative !important;
		width: 100%;
		margin-left: 0;
	}
}
/* === BACKGROUNDS AND IMAGES === */
.has-background-cover {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.has-background-contain {
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.has-overlay {
	position: relative;
	z-index: 0;
}
.overlay,
.overlay-primary,
.overlay-secondary {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -9;
	opacity: 0.5;
}
.overlay {
	background: -moz-linear-gradient(90deg, var(--secondary-color) 0%, var(--primary-color) 100%);
	background: -webkit-linear-gradient(90deg, var(--secondary-color) 0%, var(--primary-color) 100%);
	background: -o-linear-gradient(90deg, var(--secondary-color) 0%, var(--primary-color) 100%);
	background: -ms-linear-gradient(90deg, var(--secondary-color) 0%, var(--primary-color) 100%);
	background: linear-gradient(90deg, var(--secondary-color) 0%, var(--primary-color) 100%);
}
.overlay-primary {
	background: var(--primary-color);
}
.overlay-secondary {
	background: var(--secondary-color);
}
/* === FX === */
.blurred {
	-webkit-filter: blur(0.5rem);
	filter: blur(0.5rem);
}
.blurred-subtle {
	-webkit-filter: blur(0.25rem);
	filter: blur(0.25rem);
}
.blurred-subtlest {
	-webkit-filter: blur(0.125rem);
	filter: blur(0.125rem);
}
.bg-blurred {
	-webkit-backdrop-filter: blur(0.5rem);
	backdrop-filter: blur(0.5rem);
}
.bg-blurred-subtle {
	-webkit-backdrop-filter: blur(0.25rem);
	backdrop-filter: blur(0.25rem);
}
.bg-blurred-subtlest {
	-webkit-backdrop-filter: blur(0.125rem);
	backdrop-filter: blur(0.125rem);
}
.no-blur {
	-webkit-filter: blur(0) !important;
	filter: blur(0) !important;
	-webkit-backdrop-filter: blur(0) !important;
	backdrop-filter: blur(0) !important;
}
/* === ICONS === */
.fab-container {
	position: fixed;
	bottom: 16px;
	right: 16px;
	z-index: 999;
}
.fab-container a {
	margin: 0.125rem 0;
	padding: 0.125rem;
}
.fab-container a i {
	height: 2rem;
	width: 3.5rem;
	font-size: 2rem;
}
/* === CAROUSELS === */
.swiper {
	--swiper-navigation-color: #fff;
	--swiper-pagination-color: #fff;
	height: 70vh;
}
@media screen and (max-width: 576px) {
	.swiper_16-9 {
		height: 33vh;
	}
	.swiper_4-3 {
		height: 50vh;
	}
	.swiper_1-1 {
		height: 66vh;
	}
}
.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1rem;
}
.swiper-title-t,
.swiper-title-b,
.swiper-title-l,
.swiper-title-r {
	position: absolute;
}
.swiper-title-t {
	top: 0;
}
.swiper-title-b {
	bottom: 0;
}
.swiper-title-l {
	left: 0;
}
.swiper-title-r {
	right: 0;
}
.swiper_thumbs {
	height: 10vh;
	padding: 0.5rem 0;
}
.swiper_thumbs .swiper-slide {
	opacity: 0.5;
}
.swiper_thumbs .swiper-slide-thumb-active {
	opacity: 1;
}
.swiper-button-next,
.swiper-button-prev {
	top: 0;
	height: 105%;
	width: 3rem;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
	text-decoration: none !important;
}
.swiper-pagination {
	background: -moz-linear-gradient(0deg, #0006 0%, #0000 75%);
	background: -webkit-linear-gradient(0deg, #0006 0%, #0000 75%);
	background: -o-linear-gradient(0deg, #0006 0%, #0000 75%);
	background: -ms-linear-gradient(0deg, #0006 0%, #0000 75%);
	background: linear-gradient(0deg, #0006 0%, #0000 75%);
	bottom: 0 !important;
	height: 3rem;
}
.swiper-button-prev {
	background: -moz-linear-gradient(90deg, color-mix(in srgb, var(--secondary-color) 25%, transparent) 0%, #0000 75%);
	background: -webkit-linear-gradient(90deg, color-mix(in srgb, var(--secondary-color) 25%, transparent) 0%, #0000 75%);
	background: -o-linear-gradient(90deg, color-mix(in srgb, var(--secondary-color) 25%, transparent) 0%, #0000 75%);
	background: -ms-linear-gradient(90deg, color-mix(in srgb, var(--secondary-color) 25%, transparent) 0%, #0000 75%);
	background: linear-gradient(90deg, color-mix(in srgb, var(--secondary-color) 25%, transparent) 0%, #0000 75%);
	left: 0;
}
.swiper-button-prev:hover {
	background: -moz-linear-gradient(90deg, color-mix(in srgb, var(--secondary-color) 50%, transparent) 0%, #0000 75%);
	background: -webkit-linear-gradient(90deg, color-mix(in srgb, var(--secondary-color) 50%, transparent) 0%, #0000 75%);
	background: -o-linear-gradient(90deg, color-mix(in srgb, var(--secondary-color) 50%, transparent) 0%, #0000 75%);
	background: -ms-linear-gradient(90deg, color-mix(in srgb, var(--secondary-color) 50%, transparent) 0%, #0000 75%);
	background: linear-gradient(90deg, color-mix(in srgb, var(--secondary-color) 50%, transparent) 0%, #0000 75%);
}
.swiper-button-next {
	background: -moz-linear-gradient(90deg, #0000 25%, color-mix(in srgb, var(--secondary-color) 25%, transparent) 100%);
	background: -webkit-linear-gradient(90deg, #0000 25%, color-mix(in srgb, var(--secondary-color) 25%, transparent) 100%);
	background: -o-linear-gradient(90deg, #0000 25%, color-mix(in srgb, var(--secondary-color) 25%, transparent) 100%);
	background: -ms-linear-gradient(90deg, #0000 25%, color-mix(in srgb, var(--secondary-color) 25%, transparent) 100%);
	background: linear-gradient(90deg, #0000 25%, color-mix(in srgb, var(--secondary-color) 25%, transparent) 100%);
	right: 0;
}
.swiper-button-next:hover {
	background: -moz-linear-gradient(90deg, #0000 25%, color-mix(in srgb, var(--secondary-color) 50%, transparent) 100%);
	background: -webkit-linear-gradient(90deg, #0000 25%, color-mix(in srgb, var(--secondary-color) 50%, transparent) 100%);
	background: -o-linear-gradient(90deg, #0000 25%, color-mix(in srgb, var(--secondary-color) 50%, transparent) 100%);
	background: -ms-linear-gradient(90deg, #0000 25%, color-mix(in srgb, var(--secondary-color) 50%, transparent) 100%);
	background: linear-gradient(90deg, #0000 25%, color-mix(in srgb, var(--secondary-color) 50%, transparent) 100%);
}
/* === SPA CONTENT === */
#spa-content {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #0000;
	z-index: 9;
}
/* === LOADER === */
#spa-loader {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: var(--dark-color);
	color: var(--light-color);
	z-index: 9999;
}
#spa-loader .load-text {
	position: absolute;
	background: #0000;
	color: #fff;
	bottom: 10%;
	left: 0;
	right: 0;
	text-align: center;
	margin: 0 auto;
}
#spa-loader .load-circle-back,
#spa-loader .load-circle-fore {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
#spa-loader .load-circle-back:after,
#spa-loader .load-circle-fore:after {
	content: "";
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#spa-loader .load-circle-back {
	height: 192px;
	width: 192px;
}
#spa-loader .load-circle-fore {
	height: 120px;
	width: 120px;
}
#spa-loader .load-circle-back:after {
	height: 192px;
	width: 192px;
	animation: rotate 1.5s infinite;
	background-image: url("./img/icon-back.png");
}
#spa-loader .load-circle-fore:after {
	height: 120px;
	width: 120px;
	animation: rotate-reverse 1.5s infinite;
	background-image: url("./img/icon-fore.png");
}
@keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
	100% {
		-webkit-transform: rotate(720deg);
		-moz-transform: rotate(720deg);
		transform: rotate(720deg);
	}
}
@keyframes rotate-reverse {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
	100% {
		-webkit-transform: rotate(-720deg);
		-moz-transform: rotate(-720deg);
		transform: rotate(-720deg);
	}
}
/* === PARTICLES === */
#particles {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 0;
}
@keyframes loader-dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -136px;
	}
}
/* === BGV === */
.side-video {
	position: fixed;
	opacity: 0.125;
	width: 80vw;
	height: 80vh;
	z-index: 0;
	top: 10vh;
	left: -40vw;
	filter: blur(0.5rem);
	background-image: url("./img/byuwur.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	animation: float 5s infinite;
}
@keyframes float {
	0% {
		-webkit-transform: translateY(12px);
		-moz-transform: translateY(12px);
		transform: translateY(12px);
	}
	50% {
		-webkit-transform: translateY(-12px);
		-moz-transform: translateY(-12px);
		transform: translateY(-12px);
	}
	100% {
		-webkit-transform: translateY(12px);
		-moz-transform: translateY(12px);
		transform: translateY(12px);
	}
}
.video-container {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -999;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	object-fit: cover;
	filter: blur(0.25rem);
}
.video-foreground {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(32, 0, 0, 0.25) 100%);
}
/* === ACCORDIONS === */
.bywr-accordion .accordion-item {
	background: #0000;
	border: 0;
}
.bywr-accordion .accordion-button {
	background: #0000;
}
.bywr-accordion .accordion-button:not(.collapsed) {
	background: #fff3;
}
.bywr-accordion .accordion-button:after {
	filter: invert(1);
}
.bywr-accordion .bywr-sidebar-option {
	display: flex;
	flex-grow: 1;
	align-items: center;
	padding: 0.75rem;
}
.bywr-accordion .accordion-button,
.bywr-accordion .bywr-sidebar-option {
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: var(--light-transparent);
}
.p-2o5 {
	padding: 0.75rem;
}
/* === SIDEBAR === */
.bywr-sidebar {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	width: var(--sidebar-width);
	margin: 0;
	z-index: 99;
	overflow: hidden;
}
.bywr-sidebar.bywr-sidebar-expanded {
	width: var(--sidebar-expanded-width);
	overflow-y: auto;
}
.bywr-sidebar:not(.bywr-sidebar-expanded) .bywr-sidebar-content {
	opacity: 0;
	visibility: hidden;
}
.bywr-sidebar-toggle {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: var(--sidebar-height);
	width: var(--sidebar-width);
	background: #000;
	top: 0;
	right: 0;
	padding: 0.5rem;
	border: 1px solid var(--light-clear);
	outline: 1px solid var(--light-clear);
}
.bywr-sidebar-hidden {
	position: absolute;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: var(--sidebar-width);
	top: var(--sidebar-height);
	bottom: 0;
	right: 0;
	padding: 0.5rem;
	gap: 1rem;
	opacity: 0;
}
.bywr-sidebar:not(.bywr-sidebar-expanded) .bywr-sidebar-hidden {
	display: flex;
	opacity: 1;
}
.app-container {
	position: relative;
	min-height: 100vh;
	width: 100%;
	padding: 0.75rem 0.5rem 0.75rem calc(0.5rem + var(--sidebar-width));
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 9;
}
.app-container.bywr-sidebar-expanded {
	padding-left: calc(0.5rem + var(--sidebar-expanded-width));
}
@media (max-width: 768px) {
	.bywr-sidebar.bywr-sidebar-expanded {
		width: 100vw;
	}
	.app-container {
		padding: 0.5rem 0.5rem 0.5rem calc(0.5rem + var(--sidebar-width));
	}
	.app-container.bywr-sidebar-expanded {
		padding-left: 0.5rem;
	}
	.bywr-sidebar-hidden {
		pointer-events: none;
	}
}
@media (max-width: 576px) {
	.bywr-sidebar {
		height: var(--sidebar-height);
		width: 100vw;
	}
	.bywr-sidebar.bywr-sidebar-expanded {
		height: 100vh;
	}
	.bywr-sidebar:not(.bywr-sidebar-expanded) .bywr-sidebar-content {
		opacity: 1;
		visibility: visible;
	}
	.app-container {
		padding: var(--sidebar-width) 0.5rem 0.5rem 0.5rem;
	}
	.app-container.bywr-sidebar-expanded {
		padding-top: 0.5rem;
	}
	.bywr-sidebar:not(.bywr-sidebar-expanded) .bywr-sidebar-hidden {
		display: none;
	}
}
/* == APP CONTAINER CONTENT === */
.app-content {
	position: relative;
	background: linear-gradient(to bottom, #fefefe 0%, #fff 100%);
	border: 1px solid #ccc;
	box-shadow: 0 2px #fff inset;
}
.app-content .container-fluid {
	padding: 2rem 4rem;
}
@media (max-width: 991.98px) {
	.app-content .container-fluid {
		padding: 1rem 2rem;
	}
}
.app-content,
.app-content * {
	text-shadow: 0 1px #fff;
}
.app-content:before,
.app-content:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -99;
	border: 1px solid #ccc;
}
.app-content:before {
	transform: rotate(-0.75deg);
	background: linear-gradient(to top, #ddd 0%, var(--light-color) 100%);
}
.app-content:after {
	transform: rotate(1.25deg);
	background: linear-gradient(to bottom, #fff 0%, var(--light-color) 100%);
}
.app-title {
	text-align: center;
}
.app-title:before,
.app-title:after {
	content: "";
	position: absolute;
	height: 1px;
	width: 25%;
}
.app-title:before {
	left: 5%;
	background: linear-gradient(to left, #ddd 0%, #fff 100%);
}
.app-title:after {
	right: 5%;
	background: linear-gradient(to right, #ddd 0%, #fff 100%);
}
/* === LANG BUTTONS === */
.a-lang {
	background: var(--dark-color);
	color: var(--light-color);
	text-align: center;
	border: 1px solid var(--light-color);
	margin: 0.25rem;
	padding: 0.5rem;
	white-space: nowrap;
}
.a-lang img {
	width: 1rem;
	height: 0.75rem;
	margin-bottom: 0.25rem;
}
/* --- ACCESSIBILITY --- */
#bywr-accessibility {
	position: fixed;
	top: 12.5vh;
	right: 0;
}
#bywr-accessibility,
#bywr-accessibility-buttons {
	display: flex;
	flex-direction: column;
	align-items: end;
	flex-wrap: wrap;
	gap: 0.25rem;
	z-index: 99;
	transform-origin: right;
}
#bywr-accessibility-buttons {
	max-height: 90vh;
}
@media screen and (max-width: 576px) {
	#bywr-accessibility {
		top: 17.5vh;
	}
	#bywr-accessibility-buttons {
		max-height: 85vh;
	}
}
#bywr-accessibility a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3rem;
	width: 3rem;
	padding: 1.5rem 0;
	background-color: #009;
	color: #fff;
	border-radius: 0;
	text-align: center;
	font-size: 1.5rem;
}
#bywr-accessibility a:hover {
	background-color: #00d;
	color: #eee !important;
}
#bywr-accessibility-buttons.hide {
	transform: scaleX(0);
	width: 0;
	height: 0;
}
.no-motion * {
	-webkit-transition: none !important;
	-o-transition: none !important;
	-ms-transition: none !important;
	-moz-transition: none !important;
	transition: none !important;
}
.dyslexia {
	font-family: "Open Dyslexic" !important;
}
.word-spacing {
	letter-spacing: 0.125rem !important;
}
.highlight-links a {
	border: 2px solid #7777 !important;
}
.protanopia {
	filter: sepia(100%) saturate(70%) hue-rotate(-17deg);
}
.deuteranopia {
	filter: sepia(100%) saturate(70%) hue-rotate(-42deg);
}
.tritanopia {
	filter: sepia(100%) saturate(60%) hue-rotate(180deg);
}
.monochropia {
	filter: grayscale(100%);
}
.invertchropia {
	filter: invert(100%);
}
.high-contrast {
	filter: contrast(200%) brightness(125%) !important;
	background-color: black !important;
	color: yellow !important;
}
.high-contrast > a,
.high-contrast > button,
.high-contrast > input,
.high-contrast > select {
	background-color: yellow !important;
	color: black !important;
	text-decoration: underline !important;
	border: 2px solid white !important;
}
