/* --- GENERAL --- */
* {
	min-width: 0;
	/* scroll */
	scrollbar-width: 12px;
	scrollbar-color: #04c #fff;
	/* anim */
	-webkit-transition: all 0.333s ease !important;
	-o-transition: all 0.333s ease !important;
	-ms-transition: all 0.333s ease !important;
	-moz-transition: all 0.333s ease !important;
	transition: all 0.333s ease !important;
}
/* @media (prefers-reduced-motion: reduce) {
	* {
		-webkit-transition: all 0s ease !important;
		-o-transition: all 0s ease !important;
		-ms-transition: all 0s ease !important;
		-moz-transition: all 0s ease !important;
		transition: all 0s ease !important;
	}
} */
html,
body {
	position: relative;
	/* font-family: "Bahnschrift"; */
	background: #fff0;
	font-size: 16px;
	letter-spacing: -0.1px;
	line-height: 1.5;
	font-weight: 400;
	color: #222;
	text-overflow: ellipsis !important;
	white-space: wrap !important;
}
:root {
	--sidebar-width: 5rem;
	--sidebar-expanded-width: 20rem;
}
/* BGV */
.video-container {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	object-fit: cover;
	z-index: -999;
	filter: blur(4px);
}
.video-foreground {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(96, 0, 0, 0.5) 100%);
}
/* LOADER */
#spa-loader {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: linear-gradient(180deg, rgba(96, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
	z-index: 9999;
}
#spa-loader .load-text {
	position: absolute;
	background: #0000;
	color: #fff;
	bottom: 10%;
	left: 0;
	right: 0;
	text-align: center;
	margin: 0 auto;
}
#spa-loader .load-circle-back,
#spa-loader .load-circle-fore {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
#spa-loader .load-circle-back:after,
#spa-loader .load-circle-fore:after {
	content: "";
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#spa-loader .load-circle-back {
	height: 192px;
	width: 192px;
}
#spa-loader .load-circle-fore {
	height: 120px;
	width: 120px;
}
#spa-loader .load-circle-back:after {
	height: 192px;
	width: 192px;
	animation: rotate 1.5s infinite;
	background-image: url("./img/icon-back.png");
}
#spa-loader .load-circle-fore:after {
	height: 120px;
	width: 120px;
	animation: rotate-reverse 1.5s infinite;
	background-image: url("./img/icon-fore.png");
}
@keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
	100% {
		-webkit-transform: rotate(720deg);
		-moz-transform: rotate(720deg);
		transform: rotate(720deg);
	}
}
@keyframes rotate-reverse {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
	100% {
		-webkit-transform: rotate(-720deg);
		-moz-transform: rotate(-720deg);
		transform: rotate(-720deg);
	}
}
/* --- SIDEBAR --- */
.bywr-accordion .accordion-item {
	background: #0000;
	border: 0;
}
.bywr-accordion .accordion-button {
	background: #0000;
	border-top: 1px solid #fff7;
	border-bottom: 1px solid #fff7;
}
.bywr-accordion .accordion-button:not(.collapsed) {
	background: #fff3;
}
.bywr-accordion .accordion-button:after {
	filter: invert(1);
}
.bywr-accordion .sidebar-option {
	display: flex;
	align-items: center;
	padding: 0.75rem;
	border-top: 1px solid #fff7;
	border-bottom: 1px solid #fff7;
}
.p-2o5 {
	padding: 0.75rem;
}
.sidebar {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	width: var(--sidebar-width);
	margin: 0;
	z-index: 99;
	overflow: hidden;
}
.sidebar.sidebar-expanded {
	width: var(--sidebar-expanded-width);
	overflow-y: auto;
}
.sidebar:not(.sidebar-expanded) .sidebar-content {
	opacity: 0;
	visibility: hidden;
}
#sidebar-toggle {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 72px;
	width: var(--sidebar-width);
	background: #000;
	top: 1px;
	right: 0;
	padding: 0.5rem;
	border: 1px solid #fff7;
}
#sidebar-hidden {
	position: absolute;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: var(--sidebar-width);
	top: 72px;
	bottom: 0;
	right: 0;
	padding: 0.5rem;
	gap: 1rem;
	opacity: 0;
}
.sidebar:not(.sidebar-expanded) #sidebar-hidden {
	display: flex;
	opacity: 1;
}
.app-container {
	position: absolute;
	height: 100vh;
	width: 100%;
	padding: 12px 8px 12px calc(8px + var(--sidebar-width));
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 9;
}
.app-container.sidebar-expanded {
	padding-left: calc(8px + var(--sidebar-expanded-width));
}
@media (max-width: 767.98px) {
	:root {
		--sidebar-width: 4rem;
	}
	.sidebar {
		width: var(--sidebar-width);
	}
	.sidebar.sidebar-expanded {
		width: 100vw;
	}
	#sidebar-toggle {
		width: var(--sidebar-width);
	}
	#sidebar-hidden {
		width: var(--sidebar-width);
		pointer-events: none;
	}
	.app-container {
		padding: 8px 8px 8px calc(8px + var(--sidebar-width));
	}
	.app-container.sidebar-expanded {
		padding-left: 8px;
	}
}
